// Variáveis para cores e espaçamento
//$container-bg-color: #f8f9fa;
$container-bg-color: red;
$container-padding: 20px;
$container-border-radius: 8px;
$container-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);